// Superhero 4.6.0
// Bootswatch


// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" !default;
@import url($web-font-path);

// Navbar ======================================================================

.navbar {
  font-size: $font-size-sm;

  #lblCartCount {
    margin-left: $navbar-cart-badge-margin;
  }

  #infoCart {
    font-size: $navbar-cart-info-font-size;
  }

  #navCartIcon {
    margin-left: $navbar-cart-info-margin;
  }
}

#titlesTable {
  .titleLink {
    cursor: pointer;
  }
}

// Buttons =====================================================================

.btn {
  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($white, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}

// Typography ==================================================================

.dropdown-menu {
  font-size: $font-size-sm;
}

.dropdown-header {
  font-size: $font-size-sm;
}

.blockquote-footer {
  color: $body-color;
}

// Tables ======================================================================

#cart .img-responsive {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.table {
  font-size: $font-size-sm;

  .thead-dark th {
    color: $white;
  }

  a:not(.btn) {
    color: $white;
    text-decoration: underline;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .text-muted {
    color: $text-muted;
  }

  &-primary {
    &,
    > th,
    > td {
      background-color: $primary;
    }
  }

  &-secondary {
    &,
    > th,
    > td {
      background-color: $secondary;
    }
  }

  &-light {
    &,
    > th,
    > td {
      background-color: $light;
    }
  }

  &-dark {
    color: $white;

    &,
    > th,
    > td {
      background-color: $dark;
    }
  }

  &-success {
    &,
    > th,
    > td {
      background-color: $success;
    }
  }

  &-info {
    &,
    > th,
    > td {
      background-color: $info;
    }
  }

  &-danger {
    &,
    > th,
    > td {
      background-color: $danger;
    }
  }

  &-warning {
    &,
    > th,
    > td {
      background-color: $warning;
    }
  }

  &-active {
    &,
    > th,
    > td {
      background-color: $table-active-bg;
    }
  }

  &-hover {
    .table-primary:hover {
      &,
      > th,
      > td {
        background-color: darken($primary, 5%);
      }
    }

    .table-secondary:hover {
      &,
      > th,
      > td {
        background-color: darken($secondary, 5%);
      }
    }

    .table-light:hover {
      &,
      > th,
      > td {
        background-color: darken($light, 5%);
      }
    }

    .table-dark:hover {
      &,
      > th,
      > td {
        background-color: darken($dark, 5%);
      }
    }

    .table-success:hover {
      &,
      > th,
      > td {
        background-color: darken($success, 5%);
      }
    }

    .table-info:hover {
      &,
      > th,
      > td {
        background-color: darken($info, 5%);
      }
    }

    .table-danger:hover {
      &,
      > th,
      > td {
        background-color: darken($danger, 5%);
      }
    }

    .table-warning:hover {
      &,
      > th,
      > td {
        background-color: darken($warning, 5%);
      }
    }

    .table-active:hover {
      &,
      > th,
      > td {
        background-color: $table-active-bg;
      }
    }

  }
}

.paymentMethodTable tbody tr {
  cursor: pointer;
}

// Forms =======================================================================

label,
.radio label,
.checkbox label,
.help-block {
  font-size: $font-size-sm;
}

.title-reservation-item {
  width: $input-title-reservation-width !important;
}

// Navs ========================================================================

.nav-tabs,
.nav-pills {
  .nav-link,
  .nav-link:hover {
    color: $body-color;
  }

  .nav-link.disabled {
    color: $nav-link-disabled-color;
  }
}

.page-link:hover,
.page-link:focus {
  color: $white;
  text-decoration: none;
}

// Indicators ==================================================================

.alert {
  border: none;
  color: $white;

  a,
  .alert-link {
    color: $white;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($white, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}

.badge {
  &-warning,
  &-info {
    color: $white;
  }
}

.close {
  color: $white;
  text-shadow: none;
  opacity: .5;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

// Popovers      ===============================================================

.popover-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Containers ==================================================================

.modal {
  &-header,
  &-footer {
    background-color: $table-hover-bg;
  }
}

// Grid view card

#gridViewCard {
    .card {
        cursor: pointer;
    }
    hr {
        background-color: $white;
    }
    .card-img-overlay {
        transition: background-color linear 0.2s
    }

    .card-body {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s, opacity linear 0.3s;
    }

    .card-img-overlay:hover {
        background-color: rgba(#000, 0.7);

        .card-body {
            visibility: visible;
            opacity: 1;
        }
    }
}

// Search bar
.search-dropdown {
    position: relative;
    width: 100%;
    //max-width: 400px;
    margin: 0 auto;
    //padding-left:20px;
    //padding-right:20px;

    .search-dropdown-list {
        position: absolute;
        left: 0;
        right: 0;
        max-height: 200px;
        background-color: $white;
        z-index: 9999;
        overflow-y: auto;

        .search-dropdown-item {
            padding: 11px 16px;
            cursor: pointer;
            color: $gray-700;

            &:hover {
                background-color: $gray-100;
            }
        }
    }
}

// Edit icon (pencil)
.edit-icon {
    position: relative;
    top: -5px;
    left: 5px;
    color: $cyan;
    cursor: pointer;

    &:hover {
        color: $cyan-dark;
    }
}


// Cart
.cart-item-name {
  padding-left: $cart-item-name-padding
}

// White hr tag
.white-hr {
    background-color: $white;
}


// Links in administration
.admin-link {
    cursor: pointer;
    background-color: transparent;
    color: $cyan-light;

    p {
        font-weight: bold;
    }

    i {
        font-size: 3em;
        transition: font-size 0.1s;
    }

    .card-img {
        height: 75px;
    }

    &:hover {
        i {
            font-size: 4em;
            color: $cyan;
        }

        p {
            color: $cyan;
        }
    }
}

// Genre tag (adding title into database)
.genre-tag {
    background-color: $cyan-dark;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    white-space: nowrap;

    i {
        color: $more-red;
        cursor: pointer;
    }
}

.carousel-item {
    max-height: 450px;
}
